$danger-color: #f44336;
$warning-color: #f29a1b;
$success-color: #75aa53;

$background-color: #f2f4f6;
$white-highlight: #fff;
$dark-highlight: #403d46;
$grey-highlight: #a19c9a;

$menu-color: #d39e5a;
$cta-color: #9a643e;
