<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Amazon Price Watcher - Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <div class="landing-content">
        <div class="intro">
          <h1 class="title">Amazon Price Watcher</h1>
          <p class="slogan">Never miss a deal again.</p>
        </div>
        <div class="form">
          <img class="svg" src="./img/eye-solid.svg" alt="eye" />
          <input type="text" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <button class="cta-login">SIGN IN</button>
        </div>
      </div>
      <img class="big-eye white-svg" src="./img/eye-solid.svg" alt="" />
      <img class="small-eye white-svg" src="./img/eye-solid.svg" alt="" />
    </main>
  </body>
</html>
