@import '../../styles/variables.scss';
@import '../../styles/helpers.scss';

nav {
  flex: 0.3;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;

  background-color: $menu-color;
  box-shadow: 0 3px 8px #a5a5a5;

  height: 70px;

  font-size: 18px;

  .nav-link {
    width: 100%;
    text-align: center;
    justify-content: space-around;
  }

  .mobile {
    font-size: 1.2em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    flex: 0.3;
  }
}
