@import '../../../styles/variables.scss';

.highlight-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: $white-highlight;
  }
}

.activate {
  background: $dark-highlight;
  color: $background-color;
  &:hover {
    background-color: $dark-highlight;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .highlight-box {
    padding: 5px 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .highlight-box {
    border-radius: 0 5px 5px 0;
  }
}
