@import '../../styles/variables.scss';

.trend {
  font-size: 1.7em;
  padding: 10px 1.2vw;
  width: 1.7em;
}

.success-color {
  color: $success-color;
}

.warning-color {
  color: $warning-color;
}

.danger-color {
  color: $danger-color;
}

@media (min-width: 300px) and (max-width: 767px) {
  .trend {
    width: 1.3em;
    padding: 10px 0.8vw;
  }
}
