@import '../../styles/variables.scss';

.new-product {
  width: 85%;
  display: flex;
  align-items: center;
  padding: 15px;

  input {
    flex: 1;
    padding: 7px 10px 7px 20px;
    font-size: 12px;

    border: 2px solid $grey-highlight;
    border-radius: 20px;
    background: transparent;

    &.danger-error {
      border-color: $danger-color;
    }

    &.warning-error {
      border-color: $warning-color;
    }
  }

  button {
    flex: 0.2;
    font-size: 1.2em;
    height: 1.5em;
    margin-left: 20px;

    border: none;
    background: transparent;

    color: $cta-color;

    &.valid {
      color: $success-color;
    }
  }

  .spinner-div {
    padding-left: 20px;
    color: $success-color;

    .rotate-center {
      -webkit-animation: rotate-center 2s linear infinite both;
      animation: rotate-center 2s linear infinite both;
      /**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
      @-webkit-keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
