@import '../../styles/variables.scss';

header {
  display: flex;
  width: 80%;
  height: 70px;
  margin: auto;
  align-items: center;
}

.logo-container {
  flex: 1;
  display: flex;

  .eye-icon {
    font-size: 1.7em;
  }

  h4 {
    padding: 8px 15px 0 15px;
  }
}
