.product {
  display: flex;
  align-items: center;
}

.text .short-name {
  width: 250px;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
