@import '../../styles/variables.scss';

.login-content {
  display: flex;
  width: 75%;
  height: 90vh;
  margin: 0 auto;
  align-items: center;
}

.intro {
  flex: 0.9;

  h1 {
    font-size: 42px;
    font-weight: 500;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .login-content {
    flex-direction: column;
  }
  .intro {
    flex: 0.2;
    margin-top: 9vh;
    text-align: center;
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 14px;
    }
  }
}
