@import '../../styles/variables.scss';

.trend {
  font-size: 1.7em;
  padding: 10px 1.2vw;
}

.success-color {
  color: $success-color;
}

.warning-color {
  color: $warning-color;
}

.danger-color {
  color: $danger-color;
}
