<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Amazon Price Watcher - Welcome Back</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,600i&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="logo-container">
        <img class="svg" src="./img/eye-solid.svg" alt="logo" />
        <h4 class="logo">
          Amazon Price Watcher
        </h4>
      </div>
      <nav>
        <div class="hamburger">
          <img class="svg white-svg" src="./img/bars-solid.svg" alt="menu" />
          <ul class="dropdown-menu">
            <li><a href="#">EDIT ACCOUNT</a></li>
            <li><a href="#">SIGN OUT</a></li>
          </ul>
        </div>

        <ul class="nav-links">
          <li class="nav-link">
            <a href="#">EDIT ACCOUNT</a>
          </li>
          <li class="nav-link"><a href="landing.html">SIGN OUT</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="content">
        <div class="product-window">
          <h3 class="title">
            Wireless Earbuds, ENACFIRE E18 Latest Bluetooth 5.0 True Wireless
            Bluetooth Earbuds 15H Playtime 3D Stereo Sound for Gym Sport
            Wireless Headphones, Built-in Microphone for iOS and Android Device
          </h3>
          <button class="cta-price">
            <img class="white-svg svg" src="./img/amazon-brands.svg" alt="" />
            <span class="price">$ 123.45</span>
          </button>
          <div class="chart"></div>
        </div>
        <div class="product-list">
          <div class="product selected">
            <div class="highlight-box activate-highlight">
              <div class="trend">
                <img class="svg" src="./img/chevron-down-solid.svg" alt="" />
              </div>
              <div class="text">
                <p class="shortened-title">
                  Wireless Earbuds, ENACFIRE E18 Latest Bluetooth 5.0 True
                  Wireless Bluetooth Earbuds 15H Playtime 3D Stereo Sound for
                  Gym Sport Wireless Headphones, Built-in Microphone for iOS and
                  Android Device
                </p>
                <p class="price">$ 123.45</p>
              </div>
            </div>

            <button class="cta-remove">
              <img class="svg-small" src="./img/trash-alt-regular.svg" alt="" />
            </button>
          </div>
          <div class="product">
            <div class="highlight-box">
              <div class="trend">
                <img class="svg" src="./img/chevron-up-solid.svg" alt="" />
              </div>
              <div class="text">
                <p class="shortened-title">
                  Wireless Earbuds, ENACFIRE E18 Latest Bluetooth 5.0 True
                  Wireless Bluetooth Earbuds 15H Playtime 3D Stereo Sound for
                  Gym Sport Wireless Headphones, Built-in Microphone for iOS and
                  Android Device
                </p>
                <p class="price">$ 123.45</p>
              </div>
            </div>
            <button class="cta-remove">
              <img class="svg-small" src="./img/trash-alt-regular.svg" alt="" />
            </button>
          </div>
          <div class="product">
            <div class="highlight-box">
              <div class="trend">
                <img class="svg" src="./img/chevron-down-solid.svg" alt="" />
              </div>
              <div class="text">
                <p class="shortened-title">
                  Wireless Earbuds, ENACFIRE E18 Latest Bluetooth 5.0 True
                  Wireless Bluetooth Earbuds 15H Playtime 3D Stereo Sound for
                  Gym Sport Wireless Headphones, Built-in Microphone for iOS and
                  Android Device
                </p>
                <p class="price">$ 123.45</p>
              </div>
            </div>
            <button class="cta-remove">
              <img class="svg-small" src="./img/trash-alt-regular.svg" alt="" />
            </button>
          </div>
          <div class="product">
            <div class="highlight-box">
              <div class="trend">
                <img class="svg" src="./img/chevron-down-solid.svg" alt="" />
              </div>
              <div class="text">
                <p class="shortened-title">
                  Wireless Earbuds, ENACFIRE E18 Latest Bluetooth 5.0 True
                  Wireless Bluetooth Earbuds 15H Playtime 3D Stereo Sound for
                  Gym Sport Wireless Headphones, Built-in Microphone for iOS and
                  Android Device
                </p>
                <p class="price">$ 123.45</p>
              </div>
            </div>
            <button class="cta-remove">
              <img class="svg-small" src="./img/trash-alt-regular.svg" alt="" />
            </button>
          </div>
          <div class="product">
            <div class="highlight-box">
              <div class="trend">
                <img class="svg" src="./img/tilde.svg" alt="" />
              </div>
              <div class="text">
                <p class="shortened-title">
                  Wireless Earbuds, ENACFIRE E18 Latest Bluetooth 5.0 True
                  Wireless Bluetooth Earbuds 15H Playtime 3D Stereo Sound for
                  Gym Sport Wireless Headphones, Built-in Microphone for iOS and
                  Android Device
                </p>
                <p class="price">$ 123.45</p>
              </div>
            </div>
            <button class="cta-remove">
              <img class="svg-small" src="./img/trash-alt-regular.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <img class="big-eye white-svg" src="./img/eye-solid.svg" alt="" />
      <img class="small-eye white-svg" src="./img/eye-solid.svg" alt="" />
    </main>
  </body>
</html>
